html {
	background-color: white;
	margin: 0;
	height: 100%;
	min-height: 100%;
	user-select: none;
	height: 100%;
	width: 100%;
	align-items: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	max-width: 100vw;
	max-height: 100vh;
}

.track-list-item {
	padding: 1rem 1rem 1rem 2rem;
	text-align: start;
	user-select: text;
}

.track-list-item .album-name {
	color: #797979;
}

header {
	display: flex;
	z-index: 1;
	min-height: 3rem;
	position: fixed;
	top: 0;
	left: 0;
}

main {
	align-items: center;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	max-height: 100vh;
	height: 100%;
}

#track-list-button {
	box-sizing: border-box;
}

#track-search-input {
	margin-left: 3rem;
	height: 4rem;
	padding: 0.5rem;
	max-width: 100%;
	box-sizing: border-box;
}

#track-list-wrapper {
	display: flex;
	flex-direction: column;
	text-align: center;
	max-width: 40%;
	max-height: 100%;
	height: 100%;
	background-color: transparent;
	box-sizing: border-box;
	border-right: inset 1px;
	display: none;
}

#track-list-wrapper.active {
	display: flex;
	flex-direction: column;
}

#track-list {
	overflow: auto;
	height: 100%;
}

footer {
	background-color: transparent;
	z-index: 1;
	min-height: 3rem;
	width: 95vw;
	position: fixed;
	display: flex;
	flex-direction: row;
	bottom: 0;
	left: 0;
	padding-left: 5vw;
	justify-content: flex-end;
	align-items: center;
	right: 0;
	bottom: 0;
	left: auto;
	padding: 0.5rem;
	width: unset;
}

#time-display {
	display: flex;
	justify-content: space-between;
}

#time-display div {
	height: 100%;
}

#player-control-group-right {
	height: 100%;
	padding: 0;
	display: flex;
	flex-direction: row;
}

#volume {
	padding: 1rem 2rem 1rem 1rem;
	height: 100%;
}

#volume-control {
	max-width: 3vw;
	display: flex;
	align-items: center;
	margin: auto;
	min-width: 70px;
}

.player-button {
	padding: 1rem;
	height: 100%;
}

#player-name {
	padding: 1rem;
	padding-left: 5vw;
	height: 100%;
	font-size: 1.2rem;
	overflow-x: hidden;
	#fff-space: nowrap;
	font-size: 1.25rem;
	padding: 0.2rem;
}

#player-album-art {
	max-height: 50vh;
	min-width: 300px;
	display: flex;
	justify-content: center;
	aspect-ratio: 1 / 1;
}

#player-album-art img {
	max-height: 100%;
	max-width: 100%;
	object-fit: cover;
	display: block;
}

#player-album,
#player-artist {
	font-size: 0.85rem;
	padding: 0.2rem;
}

#player-panel {
	align-items: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	max-width: 100%;
	flex-grow: 2;
}

#player-control-panel {
	display: flex;
	flex-direction: row;
}

#player-info-panel {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: fit-content;
	padding: 1.5rem;
	max-width: 100%;
	min-width: 50%;
	gap: 1em;
}

#player-info-panel div {
	max-width: 55vw;
}

#player-progress-panel {
	width: 100%;
}

#player-progress,
#player-seekbar {
	width: 100%;
}

.icons {
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	/* Preferred icon size */
	display: flex;
	align-items: center;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
}

@media only screen and (max-width: 530px) {
	#track-list-button {
		z-index: 20;
		position: absolute;
		top: 0;
		left: 0;
	}

	main {
		flex-direction: column;
	}

	header {
		z-index: 99;
	}

	#track-list-wrapper {
		max-width: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
		background-color: rgba(0, 0, 0, 0.2);
	}

	#player-info-panel div {
		max-width: 100%;
	}

	#player-album-art {
		max-height: 35vh;
	}

	#player-name,
	#player-album,
	#player-artist {
		text-align: center;
	}

	#player-info-panel > div {
		min-width: 60%;
	}

	#player-panel {
		width: 100%;
		max-width: 100vw;
	}

	#player-info-panel {
		max-width: 100vw;
		box-sizing: border-box;
	}

	#player-name,
	#player-album,
	#player-artist,
	#player-progress-panel {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}
